################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gitignore..txt
/.vs/CowdersPictures/DesignTimeBuild/.dtbcache.v2
/.vs/CowdersPictures/v16/TestStore/0/000.testlog
/.vs/CowdersPictures/v16/TestStore/0/testlog.manifest
/CowdersPictures/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/CowdersPictures/bin/Debug/netcoreapp3.1/appsettings.Development.json
/CowdersPictures/bin/Debug/netcoreapp3.1/CowdersPictures.runtimeconfig.json
/CowdersPictures/bin/Debug/netcoreapp3.1/CowdersPictures.runtimeconfig.dev.json
/CowdersPictures/bin/Debug/netcoreapp3.1/CowdersPictures.pdb
/CowdersPictures/bin/Debug/netcoreapp3.1/CowdersPictures.exe
/CowdersPictures/bin/Debug/netcoreapp3.1/CowdersPictures.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/CowdersPictures.deps.json
/CowdersPictures/bin/Debug/netcoreapp3.1/appsettings.json
/CowdersPictures/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.Rest.ClientRuntime.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.Azure.SignalR.Protocols.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.Azure.SignalR.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.Azure.SignalR.Common.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Http.Connections.Client.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
/CowdersPictures/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
/CowdersPictures/CowdersPictures.csproj.user
/.vs/.
